
<html>
  <head>
    <link rel="Stylesheet" type="text/css" href="./css/style.css" />
    <title>%title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>

    <div id="page_footer">
      <ul>
        <a href="./index.html">回到主页</a>
        <a href="#top">回到页首</a>
      </ul>
    </div>

    <div id="top"></div>

    <div class="content">
      %content%
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </body>
</html>

