
<html>
  <head>
    <link rel="Stylesheet" type="text/css" href="./css/style.css" />
    <title>%title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
    $("div.content").children().children().children().hide();
    $("div.content").children().children().show();
    $("div.content").children().children().click(function(){
      $(this).children().toggle();
    });
});
    </script>
  </head>

  <body>
    <div id="page_footer">
      <ul>
        <a href="./index.html">回到主页</a>
        <a href="#top">回到页首</a>
      </ul>
    </div>

    <div id="top"></div>

    <div class="content">
      %content%
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </body>
</html>

